<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="farrellsoft" value="https://nuget.pkg.github.com/farrellsoft/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <farrellsoft>
      <add key="Username" value="xximjasonxx" />
      <add key="ClearTextPassword" value="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" />
    </farrellsoft>
  </packageSourceCredentials>
</configuration>